TELEGRAM_WEBHOOK_HEADER_TOKEN=header_token_456
TELEGRAM_BOT_TOKEN=telegram_bot_token
DOWNLOADS_DIR=tmp/downloads
TELEGRAM_WEBHOOK_SECRET=f30803f6c810d3d58c4fbc3cc7cddaef

DATABASE_USERNAME: pg_user
DATABASE_PASSWORD: pg_password
DATABASE_HOST: postgres
DATABASE_PORT: 5432

DOWNLOADS_MIN_FREE_GB=50
DOWNLOADS_HEADROOM_GB=2
USER_STORAGE_LIMIT_GB=50
MAX_DOWNLOAD_FILE_GB=20
